@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


* {
    box-sizing: border-box;
	
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}


body {

    background-color: transparent;
    text-align: center;

}


.navbar{

display: flex;
white-space:nowrap;
height: 10vw;
width: 100%;
position: relative;
}


/*width auto or 100% will lay over logout links*/
.menu__logo {
  width: 90%;
  height: auto;
  top: 1vw;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
	
.card-group82 [class*='btn']{
      font-size: 1vw;
      text-align: center;
      width: 5vw;
      height: 3vw;
}

.card-group12 [class*='container-fluid'] {
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
}

button{
    display:block;
    background-size: contain;
    vertical-align: middle;
    text-align: center;
}

strong{
    font-size: 1.3vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}

/*the below & above cause the buttons to line up*/
.text-light{
    font-size: 1.19vw;
    line-height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;

}


.bg-light {
    text-align: center;
    vertical-align: middle;

    white-space:nowrap;

    background-color: transparent;
    height:7.6vw;
/*not sure bg-light is necsarry but*/
/*height should == height of navbar above*/
    /* height:7vw;   this will control size of header*/
}


/*top needs 5vw cause the parent is 10vw; prolly cause it's outer div not centered*/
.nav-item1 {
display: inline-block;
position: absolute;
right: 6vw;
top: 5vw;
font-size: 1.7vw;
}

.nav-item2 {
display: inline-block;
position: absolute;
right: 1vw;
top:5vw;
font-size: 1.7vw;
}


@media only screen and (min-width:1px) and (max-width: 650px)  {

html, body {
outline: none;
border: none;
box-shadow: none;
}
body {
background-color: transparent;
outline: none;
border: none;
box-shadow: none;
}

/*need to clean up logic below*/

.nav-item4{
position: absolute;
top:3vw;
right:0;
}

.navbar-text{
position: absolute;
top:0;
right:3vw;
}



.text-light{
    font-size: 1.10vw;
    top: 0;
    line-height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;

}


strong{
    font-size: 1.2vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}


.bg-light {
    text-align: center;
    vertical-align: middle;

    white-space:nowrap;

    background-color: transparent;
    height:13vw;



}
}
